@font-face {
    font-family:museo500;
    src: url(../webfonts/Museo500.otf);
  }
  @font-face {
    font-family: museo700;
    src: url(../webfonts/Museo700.otf);
  }
  @font-face {
    font-family: museo300;
    src: url(../webfonts/Museo300.otf);
  } 
  .museo300 {
    font-family: museo300;
   
  } 
  .museo500 {
    font-family: museo500;
   
  }
  .museo700 {
    font-family: museo700;
   
  }
  a{
    text-decoration: unset;
    color: #000000
}
a:hover{
    color: unset;
    text-decoration: unset
}
.mainButton{
    background-color: #7F83FF;
    color: #ffffff;
   
}
.mainColor{
    color: #4A4EDD !important
}
.borderRadius{
    border-radius: 19.5px !important;
}
.trevaImg{
    width: 8rem
}
.btnWwork{
    border: 2px solid #4A4EDD;
box-sizing: border-box;
border-radius: 8px;
color: #4A4EDD
}
.inheritWidth{
    width: inherit;
}
.borderBottom{
    border-bottom: 3px solid rgba(164, 164, 164, 0.329764);
}
.nav-pills .nav-link {
    border-radius: unset !important;
}
.hire .nav-link.active {
    color:#4A4EDD;
    background-color: unset !important;
    border-bottom: 3px solid
}
.work .nav-link.active {
    color:#FB1488;
    background-color: unset !important;
    border-bottom: 3px solid
}
.nestedPictures{
    left: 16%;
    top: 15%;
    z-index: 1;
}

.secondPart{
    z-index: -1;
}
.arrowForward{
    width: 1.5rem
}
.input-group-text{
    background-color: #130242 !important
}
.greyBackgrond{
    background-color: #D8D8D8 !important
}
.borderTop{
    border-top: 2px solid rgba(188, 208, 229, 0.496913)
}
.list-unstyled a:hover{
    color: #4A4EDD;
    text-decoration: unset !important
}
.hire li a:hover{
    color: #4A4EDD
}
.work li a:hover{
    color: #FB1488
}
@media screen and (min-width: 992px) {
    .left8{
        left: 8%;
    }.mt-8{
        margin-top: 8rem
    }
    .bgrectangle{
        background-image: url(../assets/svg/Rectangle.svg);
        background-repeat: no-repeat
    }
    .text-md-white{
        color: #ffffff
    }
    .orangeBackground{
        background-image: url(../assets/svg/orangerectangle.svg);
        background-repeat: no-repeat
    }.position-md-absolute{
        position: absolute;
        top: 15%;
        left: 15%;
    }
    .w-md-75{
        width: 75%
    }
    .purpleBackground{
        background-image:url(../assets/svg/rectanglePurple.svg);
        background-repeat: no-repeat
    }.left6{
        left: 6%;
    }
    .p-md-6{
        padding: 5rem !important
    }
    .greenBackground{
        background-image: url(../assets/svg/rectangleGreen.svg);
        background-repeat: no-repeat
    }
    .inheritWidth{
        height: fit-content;
    }
  }